.buttons {

  &__main {
    border: none;
    flex: 0 0 auto;
    width: 100%;
    color: var(--color__white);
    background-color: var(--color__blue);
    cursor: pointer;
    font-weight: 400;
    font-size: 2.5rem;
    font-style: normal;
    padding: 0.25em;
    border-radius: 0.25em;
    transition: all 0.25s;
    margin-bottom: 0.25em;
    display: grid;
    grid-template-columns: auto 4rem;
    align-items: center;

    @media screen and (max-height: 799px) {
      font-size: 1.75rem;
    }

    &:hover {
      background-color: var(--color__dark);
    }

    &:focus {
      outline: transparent;
    }

    &:focus-visible {
      outline: 0.25rem solid var(--color__dark);
    }

    &:active {
      background-color: var(--color__text);
    }

    &.--is-hidden {
      opacity: 0;
      overflow: hidden;
    }
  }

  &__main-text {
    margin-left: 1.75em;
    font-weight: 300;
  }

  &__main-logo {
    height: 1.25em;
    width: 1.25em;
    min-width: 1.25em;
    background-color: var(--color__grey-extralight);
    border-radius: 50%;
    padding: 0.125em;
    text-align: center;

    @media screen and (max-width: 991px) {
      font-size: 1.5rem;
    }

    & img {
      display: inline-block;
      max-height: 1em;
      margin: 0 auto;
    }
  }

  &__menu {
    transform: translateY(250%);
    height: 0;
    overflow: hidden;
    transition: all 0.24s;
    position: relative;
    z-index: 1;
  }

  &__menu-title {
    font-size: 1.25rem;
    background-color: var(--color__yellow);
    padding: 0.25em 0.75em;
    border-radius: 0.5em;

    @media screen and (max-height: 767px) {
      font-size: 1rem;
    }
  }

  &__menu-title-text {
    &.--left {
      padding-right: 0.5em;
      margin-right: 0.5em;
      border-right: 1px solid var(--color__white);
    }
  }

  &__menu-title-logo {
    margin-left: auto;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    padding: 0.25rem;
    background-color: var(--color__white);
    text-align: center;
  }

  &__menu-title-img {
    object-fit: contain;
    object-position: center;
  }

  &__menu-wrapper {
    margin-top: 1rem;
  }

  &__item {
    border: none;
    flex: 0 1 50%;
    color: var(--color__white);
    background-color: var(--color__blue);
    cursor: pointer;
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
    padding: 0.5em 0.25em;
    text-align: center;
    border-radius: 0.25em;
    transition: all 0.25s;
    margin-bottom: 0.25em;
    position: relative;
    text-decoration: none;

    &.--back-icon::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0.5em;
      height: 1em;
      width: 1em;
      background-image: url(../img/arrow_left.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      transition: all 0.24s;
    }

    @media screen and (max-height: 799px) {
      font-size: 0.75rem;
    }

    &:hover {
      background-color: var(--color__dark);
    }

    &:focus {
      outline: transparent;
    }

    &:focus-visible {
      outline: 0.125em solid var(--color__dark);
    }

    &:active {
      background-color: var(--color__text);
    }

    &+& {
      margin-left: 0.25em;
    }

    &.--dropdown-link {
      font-size: 0.75rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin: 0;
      min-height: 3.5em;

      @media screen and (max-width: 767px) {
        font-size: 0.5rem;
      }
    }

    &[data-current="true"] {
      background-color: var(--color__red);

      &::before {
        opacity: 1;
      }

      &:hover {
        &::before {
          left: 0.75em;
        }
      }

      &:focus {
        outline: transparent;
      }

      &:focus-visible {
        outline: 0.125em solid var(--color__brown);
      }

      &:active {
        &::before {
          left: 0.25em;
        }
      }
    }

  }

  &__dropdown {
    position: absolute;
    bottom: calc(100% + 1rem);
    width: 100%;
    height: auto;
  }

  &__dropdown-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.25rem;
    overflow: hidden;
    padding: 0;
    align-items: center;
    background-color: var(--color__white);
    height: 0;
    transition: all 0.24s;
  }
}