.buttons {
  // background-color: #ddc612;
  color: #ffffff;
  position: sticky;
  top: 2rem;
  flex-direction: column;
  transition: all 0.25s;
  padding: 2.25rem;
  height: 52rem;
  width: 26rem;
  max-width: 45vmin;
  cursor: pointer;
  border-radius: 3rem;
  margin: 0 auto;
  font-size: 0.75rem;
  max-height: 90vmin;
  background-image: -webkit-image-set(url(../img/iphone.png) 1x);
  background-image: url(../img/iphone.webp);
  background-size: 100% 100%;

  @media screen and (max-width: 767px) {
    top: 0;
    font-size: 1rem;
    max-width: calc(100vw - 0.5rem);
    height: calc(200vw - 1rem);
    max-height: calc(90vh - 0.5rem);
  }

  // &::after {
  //   content: "";
  //   height: 100%;
  //   position: absolute;
  //   width: 100%;
  //   top: 0;
  //   left: 0;

  //   pointer-events: none;
  // }


  &__articles {
    flex: 1 1 100%;
    overflow-x: clip;
    overflow-y: scroll;
    display: none;

    @media screen and (max-width: 767px) {
      display: block;
    }
  }

  &__articles-inner {
    overflow: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__wrapper {
    flex: 0 0 auto;
  }

  &__title {
    background-color: transparent;
    border: none;
    flex: 0 0 auto;
    width: 100%;
    color: #ffffff;
    cursor: pointer;
    font-weight: 700;
    font-style: normal;
    padding: 1em 0.5em;
    border-radius: 0 0 1em 1em;
    box-shadow: 0 0.5em 0 0 rgba(0, 0, 0, 0.25);
    transition: all 0.25s;
    margin-bottom: 0.5em;

    @media screen and (max-width: 767px) {
      font-size: 0.75em;
    }
  }

  &__title-logo {
    margin-left: 0.5em;
  }

  &__content {
    width: 100%;
    margin: 0 auto;
    transition: all 0.25s;
  }

  &__screen {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.25em;
    overflow: hidden;
    transition: all 0.25s;

    &[data-screen="1"] {}

    &[data-screen="2"] {}

    &[data-screen="3"] {}

    &.--invisible {
      height: 0;
      padding: 0;
    }
  }

  &__item {
    background-color: #fff;
    padding: 0.25em;

    &.--w-full {
      grid-column: span 2;
    }
  }

  &__btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    height: 100%;
    background-color: var(--color__bg, #1b1a2b);
    color: #ffffff;
    border: none;
    border-radius: 0.5em;
    padding: 0.75em 1em;
    width: 100%;
    transition: 0.24s;
    word-break: break-word;

    @media screen and (max-width: 767px) {
      font-size: 0.5em;
    }

    &:hover {
      --color__bg: #1d1c2e;
      color: #ffffff;
    }

    &:focus {
      outline: transparent;
    }

    &.--red {
      --color__bg: #fd0500;

      &:hover {
        --color__bg: #ff2020;
      }
    }

    &.--grey {
      --color__bg: #707070;

      &:hover {
        --color__bg: #505050;
      }
    }
  }
}