.container {
  width: 100%;
  height: 100%;
  max-width: var(--container-width, 120rem);
  padding-left: var(--container-border, 4rem);
  padding-right: var(--container-border, 4rem);
  padding-top: 0;
  padding-bottom: 0;

  @media screen and (max-width: 767px) {
    --container-border: 1.25rem;
  }
}