*,
*::before,
*::after {
  box-sizing: border-box;
}

.flex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.--just-space {
  justify-content: space-between;
}

.--just-center {
  justify-content: center;
}

.--just-end {
  justify-content: flex-end;
}

.--juust-around {
  justify-content: space-around;
}

.--align-str {
  align-items: stretch;
}

.--align-center {
  align-items: center;
}

.--align-end {
  align-items: flex-end;
}

.--dir-col {
  flex-direction: column;
}

html {
  font-size: 1rem;
}

html,
body {
  min-height: 100%;
  position: relative;
}

body {
  font-size: 1rem;
  background-color: #ffffff;
  font-family: 'Montserrat Alternates',
    sans-serif;
  color: #002082;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration-style: none;
  color: #002082;
  transition: 0.24s;

  &:hover {
    color: #4A6DE5;
  }

  &:focus {
    outline: transparent;
  }

  &:focus-visible {
    text-decoration: underline;
  }

  &:active {}

  &:visited {
    text-decoration-style: dotted;
  }
}

picture>img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.page-wrap {
  height: 100vh;
  overflow: hidden;
}

.page-inner {
  flex: 1 0 50%;
  overflow: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.buttons-wrap {
  flex: 0 0 40%;
  padding: 2rem;
  position: relative;
  height: 100%;

  @media screen and (max-width: 767px) {
    padding: 0.25rem;
  }
}