:root {
  --color__dark: #121526;
  --color__text: #111526;
  --color__blue: #162638;
  --color__white: #ffffff;
  --color__brown: #7F220F;
  --color__brown-light: #973B29;
  --color__red: #E93324;
  --color__grey: #878787;
  --color__grey-light: #A0A0A0;
  --color__grey-extralight: #C4C4C4;
  --color__purple: #8276EA;
  --color__yellow: #F5DD4F;
}