        <div class="chatbot @@subclass">
          <div class="chatbot__inner">
            <div class="chatbot__phone buttons">
              <div class="chatbot__phone-inner flex --align-end">
                <div class="chatbot__phone-header">
                  <span class="chatbot__phone-title">Проф Буд</span>
                  <span class="chatbot__phone-subtitle">Будівельні послуги в Вінниці</span>
                </div>
                <div class="chatbot__phone-content screens">
                  <div class="screens__main">
                    <p class="screens__main-text"><strong>Проф буд ком</strong> - перший агрегатор будівельних товарів та послуг в Україні створений для максимально економного та мобільного рішення усіх каталогів з будівництва.
                    </p>
                    <p class="screens__main-text">З нашим передовим сервісом від компанії “Проф Буд” ви отримаєте ланцюговий пакет заощаджень від формування кошторисів до завершення робіт враховуючи повну підтримку та компентність наших проф-менеджерів готових допомоги в любий час доби починаючи від капітального будівництва промислових споруд до житлового ремонту та виклику майстра.</p>
                    <p class="screens__main-text">Зберігаючи свій час та гроші довірте свій вибір професіоналам які завжди в вашому телефоні та готові допомогти в будь який час.</p>
                    <p class="screens__main-text"><strong>Дякуємо що з нами!</strong></p>
                  </div>
                  @@include('./_scene-item-slider.html')
                </div>
                <div class="chatbot__phone-menu buttons">
                  <button class="buttons__main js-chatbot-menu-btn"
                          type="button"
                          data-screen="products">
                    <span class="buttons__main-text">
                      Меню
                    </span>
                    <picture class="buttons__main-logo">
                      <img src="img/icon.svg"
                           alt="">
                    </picture>
                  </button>

                  <div class="buttons__menu --is-visible js-chatbot-menu">
                    <div class="buttons__menu-title flex --align-center --just-center">
                      <span class="buttons__menu-title-text --left">Проф Буд</span>
                      <span class="buttons__menu-title-text">Партнерські програми</span>
                      <picture class="buttons__menu-title-logo">
                        <img src="img/icon.svg"
                             alt=""
                             class="buttons__menu-title-img">
                      </picture>
                    </div>
                    <div class="buttons__menu-wrapper flex --align-stretch">
                      <button class="buttons__item --back-icon js-goback-btn"
                              arua-label="Повернутись"></button>
                      <button data-dropdown="--products"
                              data-current="false"
                              class="buttons__item js-dropdown-btn"
                              type="button">Товари</button>
                      <button data-dropdown="--services"
                              data-current="false"
                              class="buttons__item js-dropdown-btn"
                              type="button">Послуги</button>
                    </div>

                    <div class="buttons__dropdown">
                      <div class="buttons__dropdown-inner --products">
                        <a href="https://chats.viber.com/profbud"
                           class="buttons__item --dropdown-link --red"
                           rel="nofollow"
                           target="_blank">Зовнішні будівельні матеріали</a>
                        <a href="https://chats.viber.com/profbud"
                           class="buttons__item --dropdown-link --red"
                           rel="nofollow"
                           target="_blank">Внутрішні будівельні матеріали</a>
                        <a href="https://chats.viber.com/profbud"
                           class="buttons__item --dropdown-link --red"
                           rel="nofollow"
                           target="_blank">Сантехнічне обладнання</a>
                        <a href="https://chats.viber.com/profbud"
                           class="buttons__item --dropdown-link --red"
                           rel="nofollow"
                           target="_blank">Металеві та металопластикові конструкції</a>
                        <a href="https://chats.viber.com/profbud"
                           class="buttons__item --dropdown-link --red"
                           rel="nofollow"
                           target="_blank">Електрика та освітлення</a>
                        <a href="https://chats.viber.com/profbud"
                           class="buttons__item --dropdown-link --red"
                           rel="nofollow"
                           target="_blank">Інструменти та обладнання
                        </a>
                      </div>
                      <div class="buttons__dropdown-inner --services">
                        <a href="https://chats.viber.com/profbud"
                           class="buttons__item --dropdown-link"
                           rel="nofollow"
                           target="_blank">Будівництво</a>
                        <a href="https://chats.viber.com/profbud"
                           class="buttons__item --dropdown-link"
                           rel="nofollow"
                           target="_blank">Ремонт</a>
                        <a href="https://chats.viber.com/profbud"
                           class="buttons__item --dropdown-link"
                           rel="nofollow"
                           target="_blank">Будівельно-монтажні роботи</a>
                        <a href="https://chats.viber.com/profbud"
                           class="buttons__item --dropdown-link"
                           rel="nofollow"
                           target="_blank">Ремонтно-монтажні роботи</a>
                        <a href="https://chats.viber.com/profbud"
                           class="buttons__item --dropdown-link"
                           rel="nofollow"
                           target="_blank">Благоустрій територій</a>
                        <a href="https://chats.viber.com/profbud"
                           class="buttons__item --dropdown-link"
                           rel="nofollow"
                           target="_blank">Послуги спецтехніки
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
