.header {
  min-height: 100vh;
  background-image: -webkit-image-set(url(../img/header_bg.jpg) 1x);
  background-image: url(../img/header_bg.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @media screen and (max-width: 991px) {
    background-image: none;
    min-height: auto;
    padding: 2rem 0;

    &::before {
      display: none;
    }
  }

  .container {
    flex-direction: column;
  }

  &__title {
    font-size: 4rem;
    max-width: 75rem;
    text-align: center;
    font-weight: 400;
    margin-top: 5.25rem;

    @media screen and (max-width: 1399px) {
      max-width: 65rem;
      font-size: 3rem;
    }

    @media screen and (max-width: 991px) {
      font-size: 2.5rem;
      margin-top: 2rem;
    }
  }

  &__inner {
    margin-right: auto;
    width: 50%;
    max-width: 39rem;

    @media screen and (max-width: 991px) {
      width: 100%;
    }
  }

  &__text {
    font-size: 2.5rem;
    font-weight: 300;

    @media screen and (max-width: 1399px) {
      font-size: 1.75rem;
    }

    @media screen and (max-width: 991px) {
      font-size: 1.25rem;
      padding: 0 0.25rem;
    }
  }
}