<header class="header">
  <div class="container">
    <div class="header__inner flex --just-space --align-center">

      <a href="#"
         class="header__logo">🏗️</a>
      <nav class="header__nav">
        <ul class="header__menu menu flex --align-center --juust-around">
          <li class="menu__item">
            <a href="#"
               class="menu__link">Головна</a>
          </li>
          <li class="menu__item">
            <a href="#"
               class="menu__link">Послуги</a>
          </li>
          <li class="menu__item">
            <a href="#"
               class="menu__link">Товари</a>
          </li>
          <li class="menu__item">
            <a href="#"
               class="menu__link">Про нас</a>
          </li>
          <li class="menu__item">
            <a href="#"
               class="menu__link">Команда</a>
          </li>
          <li class="menu__item">
            <a href="#"
               class="menu__link">Контакти</a>
          </li>
        </ul>
      </nav>
      <button class="header__burger"><span class="header__burger-row"></span><span class="header__burger-row"></span><span class="header__burger-row"></span></button>
    </div>
  </div>
</header>
