    <header class="header bg-dark @@subclass">
      <div class="container flex --align-center --just-center">
        <h1 class="header__title">Компанія ПРОФ БУД – найкращий партнер з продажу будівельних та оздоблювальних матеріалів в Україні!</h1>
        <div class="header__inner">
          <p class="header__text">Компанія ПРОФБУД займає впевнену позицію серед лідерів ринку по гуртовому продажу будівельно-оздоблювальних матеріалів в Україні. Основним видом діяльністі компанії є комплектація будівельних об’єктів на будь-якому етапі будівництва.</p>
        </div>
      </div>
    </header>
