<div class="screens__slider swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/slides_archive/1.webp"
                type="image/webp">
        <img src="img/slides/slides_archive/1.jpg"
             alt="">
      </picture>
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/slides_archive/2.webp"
                type="image/webp">
        <img src="img/slides/slides_archive/2.jpg"
             alt="">
      </picture>
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/slides_archive/3.webp"
                type="image/webp">
        <img src="img/slides/slides_archive/3.jpg"
             alt="">
      </picture>
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/slides_archive/4.webp"
                type="image/webp">
        <img src="img/slides/slides_archive/4.jpg"
             alt="">
      </picture>
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/slides_archive/5.webp"
                type="image/webp">
        <img src="img/slides/slides_archive/5.jpg"
             alt="">
      </picture>
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/slides_archive/6.webp"
                type="image/webp">
        <img src="img/slides/slides_archive/6.jpg"
             alt="">
      </picture>
    </div>
    <div class="swiper-slide">
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/slides_archive/7.webp"
                type="image/webp">
        <img src="img/slides/slides_archive/7.jpg"
             alt="">
      </picture>
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/slides_archive/8.webp"
                type="image/webp">
        <img src="img/slides/slides_archive/8.jpg"
             alt="">
      </picture>
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/slides_archive/9.webp"
                type="image/webp">
        <img src="img/slides/slides_archive/9.jpg"
             alt="">
      </picture>
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/slides_archive/10.webp"
                type="image/webp">
        <img src="img/slides/slides_archive/10.jpg"
             alt="">
      </picture>
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/slides_archive/11.webp"
                type="image/webp">
        <img src="img/slides/slides_archive/11.jpg"
             alt="">
      </picture>
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/slides_archive/12.webp"
                type="image/webp">
        <img src="img/slides/slides_archive/12.jpg"
             alt="">
      </picture>
    </div>
    <div class="swiper-slide">
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/slides_archive/13.webp"
                type="image/webp">
        <img src="img/slides/slides_archive/13.jpg"
             alt="">
      </picture>
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/slides_archive/14.webp"
                type="image/webp">
        <img src="img/slides/slides_archive/14.jpg"
             alt="">
      </picture>
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/slides_archive/15.webp"
                type="image/webp">
        <img src="img/slides/slides_archive/15.jpg"
             alt="">
      </picture>
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/slides_archive/16.webp"
                type="image/webp">
        <img src="img/slides/slides_archive/16.jpg"
             alt="">
      </picture>
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/slides_archive/17.webp"
                type="image/webp">
        <img src="img/slides/slides_archive/17.jpg"
             alt="">
      </picture>
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/slides_archive/18.webp"
                type="image/webp">
        <img src="img/slides/slides_archive/18.jpg"
             alt="">
      </picture>
    </div>
  </div>
</div>
