<div class="screens__slider swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/1.webp"
                type="image/webp">
        <img src="img/slides/1.jpg"
             alt="">
      </picture>
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/2.webp"
                type="image/webp">
        <img src="img/slides/2.jpg"
             alt="">
      </picture>
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/3.webp"
                type="image/webp">
        <img src="img/slides/3.jpg"
             alt="">
      </picture>
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/4.webp"
                type="image/webp">
        <img src="img/slides/4.jpg"
             alt="">
      </picture>
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/5.webp"
                type="image/webp">
        <img src="img/slides/5.jpg"
             alt="">
      </picture>
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/6.webp"
                type="image/webp">
        <img src="img/slides/6.jpg"
             alt="">
      </picture>
    </div>
    <div class="swiper-slide">
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/7.webp"
                type="image/webp">
        <img src="img/slides/7.jpg"
             alt="">
      </picture>
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/8.webp"
                type="image/webp">
        <img src="img/slides/8.jpg"
             alt="">
      </picture>
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/9.webp"
                type="image/webp">
        <img src="img/slides/9.jpg"
             alt="">
      </picture>
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/10.webp"
                type="image/webp">
        <img src="img/slides/10.jpg"
             alt="">
      </picture>
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/11.webp"
                type="image/webp">
        <img src="img/slides/11.jpg"
             alt="">
      </picture>
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/12.webp"
                type="image/webp">
        <img src="img/slides/12.jpg"
             alt="">
      </picture>
    </div>
    <div class="swiper-slide">
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/13.webp"
                type="image/webp">
        <img src="img/slides/13.jpg"
             alt="">
      </picture>
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/14.webp"
                type="image/webp">
        <img src="img/slides/14.jpg"
             alt="">
      </picture>
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/15.webp"
                type="image/webp">
        <img src="img/slides/15.jpg"
             alt="">
      </picture>
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/16.webp"
                type="image/webp">
        <img src="img/slides/16.jpg"
             alt="">
      </picture>
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/17.webp"
                type="image/webp">
        <img src="img/slides/17.jpg"
             alt="">
      </picture>
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/18.webp"
                type="image/webp">
        <img src="img/slides/18.jpg"
             alt="">
      </picture>
    </div>
    <div class="swiper-slide">
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/19.webp"
                type="image/webp">
        <img src="img/slides/19.jpg"
             alt="">
      </picture>
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/20.webp"
                type="image/webp">
        <img src="img/slides/20.jpg"
             alt="">
      </picture>
      <picture class="swiper-slide__pic">
        <source srcset="img/slides/21.webp"
                type="image/webp">
        <img src="img/slides/21.jpg"
             alt="">
      </picture>
    </div>
  </div>
</div>
