.top-bar {
  background-color: var(--color__white);
  padding: 2.5rem 0;
  max-width: 100%;

  @media screen and (max-width: 991px) {
    display: none;
  }

  &__logo {
    flex: 0 0 auto;
  }

  &__nav {
    flex: 0 1 40rem;
    margin: 0 2rem;
  }

  &__menu {
    padding: 0;
    list-style: none;
  }

  &__menu-item {}

  &__menu-link {
    font-size: 2.25rem;
    text-decoration: none;
    color: var(--color__blue);
    transition: 0.24s;

    &:hover {
      color: var(--color__brown);
    }

    &:focus {
      outline: transparent;
    }

    &:focus-visible {
      outline: transparent;
      text-decoration: underline;
    }

    &:active {
      color: var(--color__dark);
    }
  }

  &__btn {
    display: block;
    flex: 0 0 17rem;
    padding: 0.75rem 2.5rem;
    text-align: center;
    color: var(--color__white);
    background-color: var(--color__brown);
    font-size: 1.75rem;
    line-height: 1.1;
    text-decoration: none;
    border-radius: 0.75rem;
    transition: 0.24s;

    &:hover {
      background-color: var(--color__brown-light);
    }

    &:focus {
      outline: transparent;
    }

    &:focus-visible {
      outline: transparent;
      box-shadow: 0.25rem 0.25rem 0.5rem var(--color__brown);
    }

    &:active {
      box-shadow: inset 0.25rem 0.25rem 0.5rem var(--color__brown);
    }
  }
}